@inject NavigationManager NavigationManager

<div id="header" style="background-color: @PrimaryColor;">
    <NavLink href="@NavigationManager.BaseUri" target="_top">Home</NavLink>
    <NavLink href="@($"{NavigationManager.BaseUri}#about")" target="_top">About</NavLink>
    <div class="dropdown">
    <a href="@($"{NavigationManager.BaseUri}#portfolio")" class="dropbtn" target="_top">Portfolio</a>
    <div class="dropdown-content">
        <a href="@($"{NavigationManager.BaseUri}projects")">Projects (TBD)</a>
        <a href="@($"{NavigationManager.BaseUri}schoolworks")">School Works</a>
        <a href="@($"{NavigationManager.BaseUri}others")">Others (TBD)</a>
    </div>
    </div>
    <NavLink href="#contact" target="_top">Contact</NavLink>
</div>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter]
    public string PrimaryColor { get; set; } = string.Empty;

    [Parameter]
    public string SecondaryColor { get; set; } = string.Empty;
}